[submodule "part3/notes-be"]
	path = part3/notes-be
	url = https://github.com/ipugliese/notes-be.git
[submodule "part4/notes-be"]
	path = part4/notes-be
	url = https://github.com/ipugliese/notes-be.git
[submodule "part5/notes-be"]
	path = part5/notes-be
	url = https://github.com/ipugliese/notes-be.git
[submodule "part5/notes-fe"]
	path = part5/notes-fe
	url = https://github.com/ipugliese/notes-fe
[submodule "part6/counter-redux"]
	path = part6/counter-redux
	url = https://github.com/ipugliese/counter-redux
