[submodule "part3/notes-be"]
	path = part3/notes-be
	url = https://github.com/ipugliese/notes-be.git
[submodule "part4/notes-be"]
	path = part4/notes-be
	url = https://github.com/ipugliese/notes-be.git
